.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.env
build/
coverage/
node_modules/
.next/
web/node_modules/
web/.next/
web/out/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
