.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.env
build/
coverage/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
